<div class="flex flex-col w-full h-full justify-center items-center">
    <div cdkDrag class="w-64 border border-zinc-600">
        <div class="flex flex-row justify-center bg-slate-300">
            {{ tabela.titulo }}
        </div>
        <div class="flex flex-row p-1 gap-4 border-b-2 border-neutral-600" *ngFor="let atributo of tabela.atributos">
            <div>
                {{ atributo.descricao }}
            </div>
            <div>
                {{ atributo.tipo }}
            </div>
        </div>
    </div>
</div>